body, html{
    height:100%;
    width:100%;
    margin:0px;
    padding:0px;
}
body {
     font-family: Verdana;
     font-size: 14px;
     background: #f5f5f5;
 }
 #writing {
     position: fixed;
     bottom: 10px;
     left: 10px;
     font-size: 9px;
     background: lightyellow;
     padding: 5px;
     border: 1px solid #ccc;
 }
 #entry {
     width: 100%;
     font-size: 18px;
     padding: 5px;
     height:75px;
     border: 2px solid #8F8383;
     -moz-box-sizing: border-box;
     -webkit-box-sizing: border-box;
     box-sizing: border-box;
 }
 #output {
     overflow: auto;
     margin-bottom: 10px;
 }
 .alltable{
    border-collapse: collapse;    
 }
 .alltable td{
    border:1px solid #CBB7B7;
 }
 #participants{
    font-size: 10px;
    list-style: disc outside none;
    max-width: 200px;
    min-width: 100px;
    padding: 0 0 0 13px;
    white-space: nowrap;
 }
 
 #participants li{
     margin:5px;
 }
 
 #output div{
     padding:10px;
     border-top:1px solid #fff;
     border-bottom:1px solid #ccc;
 }
 #output pre{
     margin:0px;
     padding:0px;
     font-family:Verdana;
     display:inline;
 }
 #entry-cont{
     background:#FFEBEB;    
 }
 #right-bar{
     background: #FFEBEB;    
 }
 
 #name-cont{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.7);
    bottom: -10px;
    color: #FFFFFF;
    left: -10px;
    line-height: 90px;
    padding-left: 50px;
    position: absolute;
    right: -10px;
    top: -10px;    
 }